.container{
   display: flex;
   flex-direction: colmn;
   height: 100vh;
}
.header{
   flex: 15%;
   background-color: lightgray;
}
.menu{
   flex: 5%
   background-color: darkgray;
}
.content{
   flex: 70%
   background-color: lightgray;
}

h1 {
 color: blue;
}
.f1 {
    color: ocean;
   margin-top: 18pt;
   margin-bottom: 12pt;
   font-size: 20px;
   font-weight: bold;
   font-family: Arial;
}
.f2 {
    color: blue;
   margin-top: 6pt;
   margin-bottom: 6pt;
   font-size: 15px;
   front-style: normal;
   front-family: Arial;
}
