h1 {
 color: blue;
}
.f1 {
    color: ocean;
   margin-top: 18pt;
   margin-bottom: 12pt;
   font-size: 20px;
   font-weight: bold;
   font-family: Arial;
}
.f2 {
    color: blue;
   margin-top: 6pt;
   margin-bottom: 6pt;
   font-size: 15px;
   front-style: normal;
   front-family: Arial;
}
